* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 70px;
}

.logo {
    float: left;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    padding: 10px;
    padding-right: 0;
    padding-bottom: 10px;
}

.logo-text {
    float: left;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    padding: 10px;
    padding-left: 0;
}

main {
    width: 100%;
    height: 1000px;
    background-color:lightgray;
}

.botton-bar {
    width: 80%;
    height: 40px;
    background-color: white;
    margin: auto;
    position: relative;
    top: 40px;
    border-radius: 5px;
}

.buttons { 
    text-align: left;
    padding-top: 10px;
  } 

.container {
    width: 80%;
    height: 500px;
    background-color: white;
    margin: auto;
    position: relative;
    top: 41px;
    border-radius: 5px;
    padding-top: 40px;
}

.wrapper {
    width: 200px;
    height: 500px;
    position: relative;
    left: 40px;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
 }

 .circle {
     display: inline-block;
     height: 20px;
     width: 20px;
     border-radius: 20%;
     text-align: center;
     vertical-align: middle;
     line-height: 20px;
     color: white;
 }
 
 #editorial {
     background-color: lightskyblue;
 }

 #goals {
     background-color: lightpink;
 }

 #recruiting {
     background-color: lightgreen;
 }

 #mobile {
     background-color: orange;
 }

 #website {
     background-color: purple;
 }

 #sales {
     background-color: yellow;
 }